{% load static %}
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'img/logo.png' %}" alt=""></h3>
                <div class="textwidget">
                  <p>Somos Especialis </p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Serviços</h3>
              <ul class="footer-link">
                <li><a href="#services">Desenvolvimento Mobile</a></li>
                <li><a href="#">Sistema Escalável</a></li>
                <li><a href="#">Automação  Industrial</a></li>
                <li><a href="#">UX/UI Design Criativo</a></li>
                <li><a href="#">Designe Gráfico</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Recursos</h3>
              <ul class="footer-link">
                <li><a href="#">Inteligência artificial</a></li>
                <li><a href="#">Atendimento 24/ 7/ 360</a></li>
                <li><a href="#">Responsivel</a></li>
                <li><a href="#">Aplicativo</a></li>
                <li><a href="#">Mega velocidade</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contatos</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> 105 Av: Faria Lima <br> São Paulo, Sp </a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i>Tel: 11 12345678</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> E-mail: contato@fusion.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="#"></a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>